
/* App.css */
.App {
  text-align: center;
}

/* Canvas.css */
.canvas-container {
  border: 2px solid green;
  margin-bottom: 20px;
}

.controls {
  margin-top: 10px;
}

.controls button {
  margin-right: 10px;
}

